.jumbotron{
    background-color: rgba(173, 216, 230, 0.3);
   

}

.jumbotron h1 {

    font-family: 'Catamaran', sans-serif;
    color :rgb(6, 35, 58)
}

.jumbotron p {

    font-family: 'Tiro Devanagari Hindi', serif;
}

.projInfo h4 {

    font-family: 'Tiro Devanagari Hindi', serif;
}

.well{

    background-color:rgb(17, 87, 144); 

}

.well h5{
    color : white;
}



